<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>cart</title>
</head>
<body>


<br/><br/>

<div class="container">
    <div class="content">
        <div class="shopping_cart">
            <th:block th:each="${sessionScope.myCartItems}">
                <div class="cart_box">
                    <div class="message">
                        <div class="list_close"><a href="${pageContext.request.contextPath}/cart/remove/${map.value.product.id}.html">Remove item</a></div>
                        <div class="list_desc"><h4><a href="#"><c:out value="${map.value.product.name}"/></a></h4><c:out value="${map.value.quantity}"/> x
                            $<c:out value="${map.value.product.price}"/> = <span class="actual">  $<c:out value="${map.value.quantity * map.value.product.price}"/></span></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="total">
            <div class="total_right">Free Shipping</div>
            <div class="clearfix"> </div>
            <div class="total_right">Total: $<c:out value="${sessionScope.myCartTotal}"/></div>
            <div class="clearfix"> </div>
            <div class="total_right">VAT (10%): <c:out value="${sessionScope.myCartTotal * 0.1}"/></div>
            <div class="clearfix"> </div>
            <div class="total_right">Pay: $<c:out value="${sessionScope.myCartTotal + (sessionScope.myCartTotal * 0.1)}"/></div>
            <div class="clearfix"> </div>
        </div>
        <div class="login_buttons">
            <div class="check_button"><a href="checkout.html">Check out</a></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>

<br/><br/>


</body>
</html>